body {
    padding-top: 70px;
    background-image: url('background.png');
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.height-fix {
    top: 200px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputfile:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

    .inputfile + label * {
        pointer-events: none;
    }


.shadow-effect {
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 10px;
}

.comments-list .media {
    border-bottom: 1px dotted #ccc;
}

.product-img {
    margin: 0 auto;
    display: block;
    width: auto;
    height: 150px;
}