<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
        <div class="panel panel-default shadow-effect ">
            <div class="panel-heading">
                <h3 class="panel-title">Login to existing account</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" name="username" id="username" ng-model="loginData.username" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="password" name="password" id="password" ng-model="loginData.password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-info btn-block" ng-click="login(loginData)">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-default shadow-effect ">
            <div class="panel-heading">
                <h3 class="panel-title">Register a new account</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" name="username" id="username" ng-model="userData.username" class="form-control" placeholder="Username" ng-required="required">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" ng-model="userData.email" class="form-control" placeholder="Email Address" ng-required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="password" name="password" id="password" ng-model="userData.password" class="form-control" placeholder="Password" ng-required="required">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="password" name="confirmPassword" ng-model="userData.confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" ng-required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <select ng-options="city.Id as city.Name for city in cities" class="form-control" id="city" ng-model="userData.cityId" ng-required="required">
                                    <option value="">-- Select a City --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="file" name="profilePicture" class="inputfile" ng-model="userData.profilePicture" id="profilePicture" onchange="angular.element(this).scope().fileSelected(this)" />
                                <label class="btn btn-success btn-block" for="profilePicture">Upload Avatar</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" name="phoneNumber" id="phoneNumber" ng-model="userData.phoneNumber" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="image-box img-responsive col-xs-12">
                            <p class="text-center">Image Preview</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" name="facebook" id="facebook" ng-model="userData.facebook" class="form-control" placeholder="Facebook">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" name="skype" id="skype" ng-model="userData.skype" class="form-control" placeholder="Skype">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-info btn-block" ng-click="register(userData)">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>