<div class="container" ng-init="getMessage()">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default shadow-effect">
                <div class="panel-heading">
                    <h1 class="panel-title">{{message.Title}}</h1>
                </div>
                <div class="panel-body">
                    <p class="pull-right"> Sent on {{message.CreateDate | date:'dd.MM.yyyy HH:mm'}}</p>
                    <p ng-if="authService.getCurrentUsername() != message.SenderUsername">Sender: {{message.SenderUsername}}</p>
                    <p ng-if="authService.getCurrentUsername() != message.AddresseeUsername">Addressee: {{message.AddresseeUsername}}</p>
                </div>
                <hr />
                <div class="panel-body">
                    <p>{{message.Content}}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default shadow-effect">
                <div class="panel-heading">
                    <h1 class="panel-title">Reply to this message</h1>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" ng-model="messageData.Title" placeholder="Title"/>
                    <input type="text" style="display: none;" value="{{messageData.AddresseeUsername = authService.getCurrentUsername() != message.SenderUsername? message.SenderUsername : message.AddresseeUsername}}" />
                    <textarea class="form-control" id="comment" ng-model="messageData.Content" required="required" placeholder="Message"></textarea>
                    <a ng-click="addMessage(messageData)" class="btn btn-success btn-block">Send Message</a>
                </div>
            </div>
        </div>
    </div>
</div>
